.pub {
    margin-bottom: 40px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pubTitle {
    font-size: x-large;
    margin: 10px;
    letter-spacing: 1px;
}

.pubAbstact {
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 1px;
}

.pubHref, .pubHref:visited {
    text-decoration: none;
    color: #4290f7;
}